nav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  padding: 20px 40px;

  height: 60px;
  width: 100%;

  background: var(--navbar);

  color: white;

  z-index: 1000;
}

h1 {
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
  padding: 0 80px;

  width: fit-content;

  background: transparent;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
  padding: 0 80px;

  margin-left: auto;

  width: fit-content;

  background: transparent;
}

.brand {
  display: flex;
  flex-direction: row;

  flex: 0 0 auto;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
}

.navbarTab {
  color: white;
  transition: all 0.2s ease;
}

.navbarTab:hover {
  transform: scale(1.1);
  letter-spacing: 1px;
}
